[name="username"] {
    font-size: 16px;
}

.color {
    background-color: red;
}

.blue {
    background-color: blue;
}

.button-hello span {
    color: red;
}

.div-hello {
    padding: 30px;
    background-color: yellow;
}

button {

}

#id {
    
}